/**
 * Editor styles for the admin
 */

 .aeopr-block-programs-grid {
	.aeopr-block-programs-grid-title a {
		 text-decoration: none;
	}
 }

 .aeopr-block-programs-grid-markup-settings {
	 .components-base-control__help {
		 margin-top: 8px;
	 }
 }

 .block-editor__container .block-editor-block-list__block .aeopr-block-programs-grid a {
	 color: inherit;
 }

 

[data-type="aeopr/aeopr-programs-grid"] .components-placeholder {
	align-items: center;

	.components-placeholder__fieldset {
		width: auto;
	}
}
