@import "./_variables";

.hide{
	display:none;
}
.single-program{
	&.selectControl{
		display:none;
	}
}
.formPanel{
	background-color:$shade;
	bottom:0;
	grid-column:1;
	order:20;
	margin-top:0;
	padding:0;
	width:100%;
	@media (min-width: 1024px) {
		grid-column:2/3;
		grid-row:1;
		z-index:99;
		right: 9%;
		top: 60px;
		position: fixed;
		width:357px!important;
	}
	@media (max-width:1290px){
		left:auto;
		right:1rem;
	}
	@media (max-width:1024px){
		left:750px;
		}
	.button{
		margin:1.5rem auto 1rem;
		padding:0;
	}
}
.form-cta-group{
	margin:1rem auto;
	p{
		text-align: center;
	    margin: 1rem auto;
	    font-weight: 600;
	    font-size: 1.3rem;
	}
}
.MuiContainer-root{
	@media (min-width:1024px){
		width:357px;
	}
	&.textfield{
		position: relative;
	    border-radius: 4px;
	    color: rgba(0, 0, 0, 0.87);
	    cursor: text;
	    display: inline-flex;
	    position: relative;
	    font-size: 1rem;
	    box-sizing: border-box;
	    align-items: center;
	    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	    font-weight: 400;
	    line-height: 1.1875em;
	    letter-spacing: 0.00938em;
	    .MuiOutlinedInput-inputMarginDense {
		    padding-top: 10.5px;
		    padding-bottom: 10.5px;
		}
		.MuiOutlinedInput-input {
		    padding: 18.5px 14px;
		}
		.MuiInputBase-inputMarginDense {
		    padding-top: 3px;
		}
		.MuiInputBase-input {
		    font: inherit;
		    color: currentColor;
		    width: 100%;
		    border: 0;
		    height: 1.1875em;
		    margin: 0;
		    display: block;
		    padding: 6px 0 7px;
		    min-width: 0;
		    background: none;
		    box-sizing: content-box;
		    animation-name: mui-auto-fill-cancel;
		    -webkit-tap-highlight-color: transparent;
		}
	}
	
	.MuiSelect-selectMenu{
		max-width:330px;
	}
}
.MuiMenuItem-root{
		white-space: normal;
	}
.MuiGrid-item{
	padding:0;
	line-height:1;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink{
	transform: translate(14px, -14px) scale(0.75)!important;
}
.MuiInputLabel-outlined{
	transform: translate(14px, 14px) scale(1)!important;
}
.successContainer{
	background:$shade;
	width:100%;
	padding: 6vh 1rem;
}
.formBox{
	position:relative;
	padding: 0;

	@media (min-width: 768px) {
		width:355px;
		height: 100%;
		overflow-y: auto;
	}
	h2{
		text-align:center;
		margin:1rem auto 2rem;
		line-height:1.4;
		font-size:1.7rem;
	}
	.ctpaText{
		margin-top:1rem;
		p{
			font-size:.6rem;
			line-height:1rem;
		}
	}
	.ctaSection{
		text-align:center;
		a{
			font-size:1.6rem;
			font-weight:600;
			text-decoration:none;
			color:$brandblue;
		}
		span{
			font-size:1.3rem;
			font-weight:600;
			text-decoration:none;
			color:$brandblue;
		}
	}
	.spacer{
		display: block; 
		content: " "; 
		margin-top: 0px; 
		height: 0px; 
		visibility: hidden; 
		pointer-events: none;
		@media (min-width:768px){
		  height:85px;
		  margin-top:-85px;
		}
	}
}
.form_overlay{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background:rgba(255,255,255,.8);
    z-index: 1000;
    text-align: center;
    padding-top: 50%;
    .MuiCircularProgress-colorPrimary{
	    color:$brandmediumblue;
    }
}
