.aeopr-editor-col-guide-disable .aeopr-adv-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(.is-selected) > .block-editor-block-list__block-edit:before {
    border-style: none;
    border-color: transparent;
}
.aeopr-editor-col-guide-enable .aeopr-adv-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(.is-selected) > .block-editor-block-list__block-edit:before,
.aeopr-adv-columns-wrapper .aeopr-adv-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(.is-selected):hover > .block-editor-block-list__block-edit:before {
    border: 1px dashed #ddd;
}

.aeopr-adv-column-1 .aeopr-count-up-columns-two, .aeopr-adv-column-1 .aeopr-count-up-columns-three {
    display: none;
}

.aeopr-adv-column-2 .aeopr-count-up-columns-three {
    display: none;
}
.aeopr-adv-columns-1 > .aeopr-adv-column {
    flex: none;
    width: 100%;
}

#editor .aeopr-adv-columns-spacing {
    height: 10px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 999;
    top: -8px;
}
[data-type="aeopr/adv-columns"][data-align=full] .aeopr-adv-columns {
    padding-left: 46px;
    padding-right: 46px;
}

/*Columns Manager block*/
.aeopr-adv-columns-select-wrapper {
    padding: 20px;
}

.aeopr-adv-columns-select-title {
    text-align: center;
    margin-bottom: 10px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}

.aeopr-adv-columns-select-layout,
.aeopr-adv-columns-responsive-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.aeopr-adv-columns-responsive-items .aeopr-adv-columns-responsive-item {
    flex-grow: 1;
    flex-basis: 33.3%;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    background-color: #eee;
    cursor: pointer;
}

.aeopr-adv-columns-responsive-items .aeopr-adv-columns-responsive-item.is-selected {
    background-color: #2196f3;
    color: #fff;
}

.aeopr-adv-columns-select-layout .aeopr-adv-columns-layout {
    margin: 5px;
    flex-basis: 100px;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    opacity: 0.3;
}

.aeopr-adv-columns-select-layout.on-inspector .aeopr-adv-columns-layout {
    flex-basis: calc(33.3% - 10px);
}

.aeopr-adv-columns-select-layout .aeopr-adv-columns-layout:hover,
.aeopr-adv-columns-select-layout .aeopr-adv-columns-layout.is-selected {
    opacity: 1;
}

.aeopr-controls-title {
    font-size: 13px;
    margin: 5px 0;
}

.aeopr-unit-wrapper {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.aeopr-unit-2 {
    float: none;
    text-align: right;
    margin-bottom: -23px;
}

.aeopr-unit-wrapper .aeopr-unit {
    display: inline-block;
    margin: 0 2px;
    opacity: 0.7;
    cursor: pointer;
}

.aeopr-unit-wrapper .aeopr-unit.selected {
    font-weight: bold;
    opacity: 1;
}

.aeopr-unit-wrapper .aeopr-unit:hover {
    text-decoration: underline;
}

.wp-block-advgb-columns.aeopr-adv-columns-wrapper {
    max-width: unset;
    width: 100%;
}

.aeopr-adv-columns-wrapper .aeopr-adv-columns {
    margin: 0 auto;
}

body.block-editor-page .aeopr-adv-columns-wrapper .aeopr-adv-columns .wp-block {
    max-width: 100%;
}

.aeopr-adv-columns-wrapper .aeopr-adv-columns.columns-valign-middle {
    align-items: center;
}

.aeopr-adv-columns-wrapper .aeopr-adv-columns.columns-valign-bottom {
    align-items: flex-end;
}

.aeopr-adv-column {
    z-index: unset;
}

/*Backend columns*/
.aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
}

.aeopr-adv-columns.columns-wrapped > .block-editor-inner-blocks > .block-editor-block-list__layout,
.aeopr-adv-columns.columns-wrapped {
    flex-wrap: wrap;
}

.aeopr-adv-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.aeopr-adv-columns.columns-valign-full > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block > .block-editor-block-list__block-edit > div[data-block] {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aeopr-adv-columns.columns-valign-full > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block > .block-editor-block-list__block-edit {
    height: 100%;
}

.aeopr-adv-columns.columns-valign-full .aeopr-adv-column-inner {
    height: 100%;
}

.aeopr-adv-columns.columns-valign-middle > .block-editor-inner-blocks > .block-editor-block-list__layout {
    align-items: center;
}

.aeopr-adv-columns.columns-valign-bottom > .block-editor-inner-blocks > .block-editor-block-list__layout {
    align-items: flex-end;
}

.aeopr-adv-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child,
.aeopr-adv-columns > .aeopr-adv-column:last-child {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.aeopr-adv-columns.gutter-10 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
.aeopr-adv-columns.gutter-10 > .aeopr-adv-column {
    margin-right: 10px;
}

.aeopr-adv-columns.gutter-20 > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block,
.aeopr-adv-columns.gutter-20 > .aeopr-adv-column {
    margin-right: 20px;
}

.aeopr-adv-columns.gutter-30 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
.aeopr-adv-columns.gutter-30 > .aeopr-adv-column {
    margin-right: 30px;
}

.aeopr-adv-columns.gutter-40 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
.aeopr-adv-columns.gutter-40 > .aeopr-adv-column {
    margin-right: 40px;
}

.aeopr-adv-columns.gutter-50 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
.aeopr-adv-columns.gutter-50 > .aeopr-adv-column {
    margin-right: 50px;
}

.aeopr-adv-columns.gutter-70 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
.aeopr-adv-columns.gutter-70 > .aeopr-adv-column {
    margin-right: 70px;
}

.aeopr-adv-columns.gutter-90 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
.aeopr-adv-columns.gutter-90 > .aeopr-adv-column {
    margin-right: 90px;
}

.aeopr-adv-columns.aeopr-adv-columns-1 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 0;
    flex-basis: 100%;
    max-width: 100%;
}

/*2 Columns*/
.aeopr-adv-columns.layout-12-12 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
    flex-basis: 50%;
    width: 50%;
}

.aeopr-adv-columns.layout-23-13 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child,
.aeopr-adv-columns.layout-13-23 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child {
    flex-basis: 66.6%;
    width: 66.6%;
}

.aeopr-adv-columns.layout-23-13 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child,
.aeopr-adv-columns.layout-13-23 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child {
    flex-basis: 33.3%;
    width: 33.3%;
}

.aeopr-adv-columns.layout-34-14 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child,
.aeopr-adv-columns.layout-14-34 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child {
    flex-basis: 75%;
    width: 75%;
}

.aeopr-adv-columns.layout-34-14 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child,
.aeopr-adv-columns.layout-14-34 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child {
    flex-basis: 25%;
    width: 25%;
}

.aeopr-adv-columns.layout-45-15 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child,
.aeopr-adv-columns.layout-15-45 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child {
    flex-basis: 80%;
    width: 80%;
}

.aeopr-adv-columns.layout-45-15 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child,
.aeopr-adv-columns.layout-15-45 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child {
    flex-basis: 20%;
    width: 20%;
}

/*3 Columns*/
.aeopr-adv-columns.layout-13-13-13 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
    flex-basis: 33.33%;
    width: 33.33%;
}

.aeopr-adv-columns.layout-12-14-14 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child,
.aeopr-adv-columns.layout-14-14-12 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child,
.aeopr-adv-columns.layout-14-12-14 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:nth-child(2) {
    flex-basis: 50%;
    width: 50%;
}

.aeopr-adv-columns.layout-12-14-14 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:first-child),
.aeopr-adv-columns.layout-14-14-12 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:last-child),
.aeopr-adv-columns.layout-14-12-14 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:nth-child(2)) {
    flex-basis: 25%;
    width: 25%;
}

.aeopr-adv-columns.layout-35-15-15 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child,
.aeopr-adv-columns.layout-15-15-35 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child,
.aeopr-adv-columns.layout-15-35-15 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:nth-child(2) {
    flex-basis: 60%;
    width: 60%;
}

.aeopr-adv-columns.layout-35-15-15 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:first-child),
.aeopr-adv-columns.layout-15-15-35 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:last-child),
.aeopr-adv-columns.layout-15-35-15 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:nth-child(2)) {
    flex-basis: 20%;
    width: 20%;
}

.aeopr-adv-columns.layout-16-46-16 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:nth-child(2) {
    flex-basis: 66.66%;
    width: 66.66%;
}

/*4 Columns*/
.aeopr-adv-columns.layout-14-14-14-14 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
    flex-basis: 25%;
    width: 25%;
}

.aeopr-adv-columns.layout-36-16-16-16 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child,
.aeopr-adv-columns.layout-16-16-16-36 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child {
    flex-basis: 50%;
    width: 50%;
}

.aeopr-adv-columns.layout-36-16-16-16 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:first-child),
.aeopr-adv-columns.layout-16-16-16-36 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:last-child),
.aeopr-adv-columns.layout-16-46-16 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:nth-child(2)) {
    flex-basis: 16.66%;
    width: 16.66%;
}

.aeopr-adv-columns.layout-25-15-15-15 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:first-child,
.aeopr-adv-columns.layout-15-15-15-25 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:last-child {
    flex-basis: 40%;
    width: 40%;
}

.aeopr-adv-columns.layout-25-15-15-15 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:first-child),
.aeopr-adv-columns.layout-15-15-15-25 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(:last-child) {
    flex-basis: 20%;
    width: 20%;
}

/*5 and 6 Columns*/
.aeopr-adv-columns.layout-five > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
    flex-basis: 20%;
    width: 20%;
}

.aeopr-adv-columns.layout-six > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
    flex-basis: 16.66%;
    width: 16.66%;
}

.aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"]>.block-editor-block-list__block-edit>[data-block] {
    margin-top: 0;
    margin-bottom: 0;
}

/* backend styles */
.aeopr-adv-columns .block-editor-block-list__layout>.block-editor-block-list__block>.block-editor-block-list__block-edit {
    margin-top: 0;
    margin-bottom: 0;
}

#editor .aeopr-adv-columns {
    margin-bottom: 28px;
}

#editor .aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"]>.block-editor-block-list__block-edit>div>.wp-block-advgb-column>.aeopr-adv-column-inner>.block-editor-inner-blocks {
    margin-top: -12px;
    margin-bottom: -12px;
}
#editor .aeopr-adv-columns .block-editor-block-list__layout {
    margin-left: 0;
    margin-right: 0;
}
#editor .aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"]>.block-editor-block-list__block-edit:before {
    left: 0;
    right: 0;
}
.editor-styles-wrapper [data-block] {
    margin-top: 12px;
    margin-bottom: 12px;
}
#editor .aeopr-adv-columns .block-editor-block-list__block .block-list-appender {
    margin: 0;
}

.block-editor-block-list__layout .block-editor-block-list__block[data-type="aeopr/adv-columns"].is-selected>.block-editor-block-list__block-edit>[data-block]>div>div>.block-editor-inner-blocks,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="aeopr/adv-columns"] > .block-editor-block-list__block-edit > [data-block] > div > div > .block-editor-inner-blocks,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="aeopr/adv-column"] > .block-editor-block-list__block-edit > [data-block] > div > div > .block-editor-inner-blocks {
    padding: 0px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-type="aeopr/adv-columns"].is-selected > .block-editor-block-list__block-edit > [data-block] > div > div > .block-editor-inner-blocks,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="aeopr/adv-columns"] > .block-editor-block-list__block-edit > [data-block] > div > div > .block-editor-inner-blocks,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="aeopr/adv-column"] > .block-editor-block-list__block-edit > [data-block] > div > div > .block-editor-inner-blocks {
    padding: 6px;
}

@media screen and (min-width: 1088px) {
    .aeopr-adv-column.aeopr-is-default-desktop {
        flex: 1;
        width: auto;
    }
}
@media screen and (min-width: 769px) and (max-width: 1087px) {
    .aeopr-adv-column.aeopr-is-default-tablet {
        flex: 1;
        width: auto;
    }

    .aeopr-adv-columns.tbl-layout-1-12-12,
    .aeopr-adv-columns.tbl-layout-12-12-1,
    .aeopr-adv-columns.tbl-layout-12x4,
    .aeopr-adv-columns.tbl-layout-12x6,
    .aeopr-adv-columns.tbl-layout-13x6,
    .aeopr-adv-columns.tbl-layout-stacked {
        flex-wrap: wrap;
    }

    .aeopr-adv-columns.tbl-layout-stacked .aeopr-adv-column {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .aeopr-adv-column.aeopr-is-default-mobile {
        flex: 1;
        width: auto;
    }

    .aeopr-adv-columns.mbl-layout-1-12-12,
    .aeopr-adv-columns.mbl-layout-12-12-1,
    .aeopr-adv-columns.mbl-layout-12x4,
    .aeopr-adv-columns.mbl-layout-12x6,
    .aeopr-adv-columns.mbl-layout-13x6,
    .aeopr-adv-columns.mbl-layout-stacked {
        flex-wrap: wrap;
    }

    .aeopr-adv-columns.mbl-layout-stacked .aeopr-adv-column {
        width: 100% !important;
    }
}
/* Tablet */
@media screen and (max-width: 1023px) {
    .aeopr-adv-columns.tbl-layout-stacked > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked > .aeopr-adv-column {
        margin-right: 0 !important;
    }

    .aeopr-adv-columns.tbl-layout-stacked.vgutter-10 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.tbl-layout-stacked.vgutter-10 > .aeopr-adv-column {
        margin-bottom: 10px;
    }

    .aeopr-adv-columns.tbl-layout-stacked.vgutter-20 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.tbl-layout-stacked.vgutter-20 > .aeopr-adv-column {
        margin-bottom: 20px;
    }

    .aeopr-adv-columns.tbl-layout-stacked.vgutter-30 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.tbl-layout-stacked.vgutter-30 > .aeopr-adv-column {
        margin-bottom: 30px;
    }

    .aeopr-adv-columns.tbl-layout-stacked.vgutter-40 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.tbl-layout-stacked.vgutter-40 > .aeopr-adv-column {
        margin-bottom: 40px;
    }

    .aeopr-adv-columns.tbl-layout-stacked.vgutter-50 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.tbl-layout-stacked.vgutter-50 > .aeopr-adv-column {
        margin-bottom: 50px;
    }

    .aeopr-adv-columns.tbl-layout-stacked.vgutter-70 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.tbl-layout-stacked.vgutter-70 > .aeopr-adv-column {
        margin-bottom: 70px;
    }

    .aeopr-adv-columns.tbl-layout-stacked.vgutter-90 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.tbl-layout-stacked.vgutter-90 > .aeopr-adv-column {
        margin-bottom: 90px;
    }

    .aeopr-adv-columns.tbl-layout-stacked > .block-editor-inner-blocks > .block-editor-block-list__layout {
        flex-direction: column;
    }

    .aeopr-adv-columns.tbl-layout-stacked.order-rtl > .block-editor-inner-blocks > .block-editor-block-list__layout {
        flex-direction: column-reverse;
    }

    /* Tabs */
    .aeopr-tabs-wrapper.aeopr-tab-horz-tablet {
        flex-direction: column;
    }

    .aeopr-tabs-wrapper.aeopr-tab-horz-tablet ul.aeopr-tabs-panel,
    .aeopr-tabs-wrapper.aeopr-tab-horz-tablet .aeopr-tab-body-wrapper {
        max-width: 100%;
        display: block;
    }

    .aeopr-tabs-wrapper.aeopr-tab-vert-tablet {
        flex-direction: row;
    }

    .aeopr-tabs-wrapper.aeopr-tab-vert-tablet ul.aeopr-tabs-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 25%;
        max-width: 25%;
    }

    .aeopr-tabs-wrapper.aeopr-tab-vert-tablet ul.aeopr-tabs-panel span.aeopr-tab-remove {
        left: -8px;
        right: unset;
    }

    .aeopr-tabs-wrapper.aeopr-tab-vert-tablet .aeopr-tab-body-wrapper {
        flex-grow: 3;
        max-width: 75%;
    }
}

@media screen and (min-width: 600px) {
    #editor .edit-post-visual-editor .aeopr-adv-columns .block-editor-block-list__layout .block-editor-block-list__block {
        padding-left: 0;
        padding-right: 0;
    }
   
    .aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"]:nth-child(2n) {
        margin-left: 32px;
    }
    #editor .edit-post-visual-editor .aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"] {
        margin-left: 14px !important;
        margin-right: 14px !important;
        padding-left: 0;
        padding-right: 0;
    }
    #editor .aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"]:not(:first-child) {
        margin-left: 46px !important;
    }
    #editor .edit-post-visual-editor .aeopr-adv-columns .block-editor-block-list__block .block-editor-block-list__block-edit {
        margin-left: 0;
        margin-right: 0;
    }
    #editor .edit-post-visual-editor .aeopr-adv-columns .block-editor-block-list__block .block-editor-block-list__block-edit {
        margin-left: -28px;
        margin-right: -28px;
    }
    .aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"] {
        flex-basis: calc(50% - 16px);
        flex-grow: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .aeopr-adv-columns.aeopr-adv-columns-1>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"] {
        flex-basis: 100%;
        flex-grow: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 782px) {
    .aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout {
        flex-wrap: nowrap;
    }
    .aeopr-adv-columns>.block-editor-inner-blocks>.block-editor-block-list__layout>[data-type="aeopr/adv-column"]:not(:first-child) {
        margin-left: 32px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .aeopr-adv-columns > .block-editor-inner-blocks > .block-editor-block-list__layout {
        flex-wrap: wrap;
    }

    .aeopr-adv-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
        flex-basis: 100% !important;
        width: 100% !important;
        margin: 0;
    }

    .aeopr-adv-columns.mbl-layout-stacked.vgutter-10 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked.vgutter-10 > .aeopr-adv-column {
        margin-bottom: 10px;
    }

    .aeopr-adv-columns.mbl-layout-stacked.vgutter-20 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked.vgutter-20 > .aeopr-adv-column {
        margin-bottom: 20px;
    }

    .aeopr-adv-columns.mbl-layout-stacked.vgutter-30 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked.vgutter-30 > .aeopr-adv-column {
        margin-bottom: 30px;
    }

    .aeopr-adv-columns.mbl-layout-stacked.vgutter-40 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked.vgutter-40 > .aeopr-adv-column {
        margin-bottom: 40px;
    }

    .aeopr-adv-columns.mbl-layout-stacked.vgutter-50 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked.vgutter-50 > .aeopr-adv-column {
        margin-bottom: 50px;
    }

    .aeopr-adv-columns.mbl-layout-stacked.vgutter-70 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked.vgutter-70 > .aeopr-adv-column {
        margin-bottom: 70px;
    }

    .aeopr-adv-columns.mbl-layout-stacked.vgutter-90 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
    .aeopr-adv-columns.mbl-layout-stacked.vgutter-90 > .aeopr-adv-column {
        margin-bottom: 90px;
    }

    .aeopr-adv-columns.mbl-layout-stacked > .block-editor-inner-blocks > .block-editor-block-list__layout {
        flex-direction: column;
    }

    .aeopr-adv-columns.mbl-layout-stacked.order-rtl > .block-editor-inner-blocks > .block-editor-block-list__layout {
        flex-direction: column-reverse;
    }

    /* Tabs */
    .aeopr-tabs-wrapper.aeopr-tab-horz-mobile {
        flex-direction: column;
    }

    .aeopr-tabs-wrapper.aeopr-tab-horz-mobile ul.aeopr-tabs-panel,
    .aeopr-tabs-wrapper.aeopr-tab-horz-mobile .aeopr-tab-body-wrapper {
        max-width: 100%;
        display: block;
    }

    .aeopr-tabs-wrapper.aeopr-tab-vert-mobile {
        flex-direction: row;
    }

    .aeopr-tabs-wrapper.aeopr-tab-vert-mobile ul.aeopr-tabs-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 25%;
        max-width: 25%;
    }

    .aeopr-tabs-wrapper.aeopr-tab-vert-mobile ul.aeopr-tabs-panel span.aeopr-tab-remove {
        left: -8px;
        right: unset;
    }

    .aeopr-tabs-wrapper.aeopr-tab-vert-mobile .aeopr-tab-body-wrapper {
        flex-grow: 3;
        max-width: 75%;
    }

    .aeopr-tabs-wrapper.aeopr-tab-stack-mobile .aeopr-tabs-panel {
        display: none !important;
    }

    .aeopr-tabs-wrapper.aeopr-tab-stack-mobile .aeopr-tab-body-header {
        display: block;
    }

    .aeopr-tabs-wrapper.aeopr-tab-stack-mobile .aeopr-tab-body-wrapper {
        max-width: 100%;
    }

    .aeopr-tabs-wrapper.aeopr-tab-stack-mobile .aeopr-tab-body-wrapper .aeopr-tab-body-container {
        margin-bottom: 10px;
    }

    .aeopr-tabs-wrapper.aeopr-tab-stack-mobile .aeopr-tab-body-wrapper .aeopr-tab-body-container:last-child {
        margin-bottom: 0;
    }
}