#editor .aeopr-tabs-block .aeopr-tab p.mce-content-body,
#editor .aeopr-tabs-block .aeopr-tab-body p.mce-content-body
#editor .aeopr-tabs-wrapper .aeopr-tab p.mce-content-body,
#editor .aeopr-tabs-wrapper .aeopr-tab-body p.mce-content-body {
    color: inherit;
}

#editor .aeopr-tabs-block, #editor .aeopr-tabs-wrapper {
    padding: 15px 0;
}
.aeopr-tab-body-wrapper > .editor-inner-blocks > .editor-block-list__layout > .block-list-appender {
    display: none !important;
}
.aeopr-tab-body-wrapper > .editor-inner-blocks > .editor-block-list__layout > .wp-block > .editor-block-list__insertion-point {
    display: none !important;
}

#editor div.aeopr-tab-body {
    padding: 0;
}
#editor .aeopr-tab-body-wrapper {
    padding: 20px;
}
.edit-post-visual-editor .aeopr-tabs-wrapper .block-editor-button-block-appender {
    display: none;
}
#editor [data-type="aeopr/tab"] > .editor-block-list__block-edit > .editor-block-mover,
#editor [data-type="aeopr/tab"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar {
    display: none !important;
}
#editor [data-type="aeopr/tab"] > .editor-block-list__block-edit::before {
    box-shadow: none;
    border: none;
}


.aeopr-columns-select-layout,
.aeopr-columns-responsive-items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.aeopr-columns-responsive-items .aeopr-columns-responsive-item {
    flex-grow: 1;
    flex-basis: 33.3%;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    background-color: #eee;
    cursor: pointer;
}

.aeopr-columns-responsive-items .aeopr-columns-responsive-item.is-selected {
    background-color: #2196f3;
    color: #fff;
}