.aeopr-grid__outer-wrap{
	&> .block-editor-inner-blocks {
		&> .block-editor-block-list__layout{
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-flow: row wrap;
			&>*{
				padding: 1rem;
				flex:1 1 calc(50% - 4rem);
			}

		}
		
	}
	&.aeopr-grid__mobile-stack {
		&>.block-editor-inner-blocks{
			&>.block-editor-block-list__layout{
				flex-flow:column wrap;
				align-items:center;
				align-content: center;
				@media(min-width:768px){
					flex-flow:row wrap;
					align-items:flex-start;
					align-content:flex-start;
				}
			}
		}
	}
	&.aeopr-grid__all-stack {
		&>.block-editor-inner-blocks{
			&>.block-editor-block-list__layout{
				flex-flow:column wrap;
				align-items:center;
				align-content: center;
			}
		}
	}}

.aeopr-grid__outer-wrap.wp-block-aeopr-grid .aeopr-grid__wrap a.aeopr-grid__wrapper,
.aeopr-grid__outer-wrap.wp-block-aeopr-grid .aeopr-grid__wrap a.aeopr-grid__wrapper:focus,
.aeopr-grid__outer-wrap.wp-block-aeopr-grid .aeopr-grid__wrap a.aeopr-grid__wrapper:active,
.aeopr-grid__outer-wrap.wp-block-aeopr-grid .aeopr-grid__wrap a.aeopr-grid__wrapper:visited {
	text-decoration: none;
}

	
.aeopr-grid__cells-{
	&4{
		.block-editor-block-list__layout div{
			flex-basis:45%;
		}
	}
	&5{
		.block-editor-block-list__layout div{
			flex-basis:30%;
		}
	}
	&6{
		.block-editor-block-list__layout div{
			flex-basis:25%;
		}
	}

}

